@import "../../style/variables";

.pagination-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 1rem;

  .buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 0.8rem;
    margin: 1rem;
    transition: all 0.5s ease;

    button {
      background: none;
      border: none;
      cursor: pointer;
      color: $button-border;

      &.active {
        color: $text-color;
      }

      &:hover {
        transform: scale(1.1);
        color: $text-color;
      }
    }
  }
}
