//breakpoints
$lg: 80rem;
$md: 48rem;
$sm: 40rem;

//colors
$page-background: #181827;
$text-color: #fff;
$box-shadow: 0 0 10px #103e12;
$border: 1px solid #275732;

//card
$card-background-color: #000;
$card-active-color: #00a300;

//search
$search-background: #2b2b43;
$searc-logo-background: #090a12;

//table
$table-background: #2d3a4f;
$table-border: #808080;

//button
$button-border: #808080;
$button-disabled: #808080;

//star icon
$stroke-green: rgba(0, 255, 0, 0.7);
$stroke-green-no-opacity: rgba(0, 255, 0, 0);

//toast
$toast-background: #333;
$toast-progress-background: rgb(0, 128, 0);
